@define-color base #263238;
@define-color text #b0bec5;
@define-color border #00bda5;
@define-color selected-text #00bda5;
@define-color window_bg_color alpha(@base, 0.95);
@define-color accent_bg_color @selected-text;

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @window_bg_color;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid darker(@accent_bg_color);
}
