/* Theme Colors */
@define-color background_color #242424;
@define-color foreground_color #FFFFFF;
@define-color accent_color #78AEED;
@define-color warning_color #FF7800;
@define-color error_color #ED333B;
@define-color selection_background_color #454545;
@define-color secondary_accent_color #62A0EA;
