@define-color foreground #e6d8ba;
@define-color background #11221C;

/* Added by Jules for color variety */
#workspaces { color: #C0C396; }
#custom-hypr { color: #C0C396; }
#clock { color: #C0C396; }
#tray { color: #C0C396; }
#custom-weather { color: #ACD4CF; }
#custom-update { color: #549E6A; }
#bluetooth { color: #D2689C; }
#network { color: #E5C736; }
#pulseaudio { color: #2DD5B7; }
#cpu { color: #FF5345; }
#battery { color: #C1C497; }
