/* Theme Colors */
@define-color background_color #11221C;
@define-color foreground_color #EBFFF2;
@define-color accent_color #E1B55E;
@define-color warning_color #E5C736;
@define-color error_color #FF5345;
@define-color selection_background_color #53685B;
@define-color secondary_accent_color #509475;
