/* osaka-jade Waybar colors */

@define-color accent_color #E1B55E;
@define-color background_color #11221C;
@define-color disabled_color #32473B;
@define-color error_color #FF5345;
@define-color extra_color_10 #215866;
@define-color extra_color_11 #75BBB3;
@define-color extra_color_12 #E6D8BA;
@define-color extra_color_13 #DB9F9C;
@define-color extra_color_14 #D0D494;
@define-color extra_color_15 #72CFA3;
@define-color extra_color_16 #BFD99A;
@define-color extra_color_17 #D6D5BC;
@define-color extra_color_2 #549E6A;
@define-color extra_color_4 #91C080;
@define-color extra_color_5 rgb(7, 40, 32);
@define-color extra_color_6 #76AD98;
@define-color extra_color_7 #629C89;
@define-color extra_color_8 #DBB05C;
@define-color extra_color_9 #81B8A8;
@define-color foreground_color #EBFFF2;
@define-color icon_background_color #53685B;
@define-color info_color #61949A;
@define-color quaternary_accent_color rgb(131, 162, 152);
@define-color quinary_accent_color #F7E8B2;
@define-color secondary_accent_color #509475;
@define-color secondary_background_color #111C18;
@define-color selection_background_color #364538;
@define-color selection_foreground_color #DEB266;
@define-color senary_accent_color rgb(167, 172, 132);
@define-color success_color #5F8C86;
@define-color tertiary_accent_color #E67D64;
@define-color warning_color #E5C736;
