/* Theme Colors */
@define-color background_color #11221C;
@define-color foreground_color #e6d8ba;
@define-color accent_color #71CEAD;
@define-color warning_color #E5C736;
@define-color error_color #FF5345;
@define-color selection_background_color #53685B;
@define-color secondary_accent_color #509475;

@define-color cpu_color @foreground_color;
@define-color memory_color @foreground_color;
@define-color disk_color @foreground_color;
@define-color network_color @foreground_color;
@define-color group_background_color rgba(10, 10, 10, 0.9);
