/* Theme Colors */
@define-color background_color #1A1B26;
@define-color foreground_color #CFC9C2;
@define-color accent_color #7DCFFF;
@define-color warning_color #E0AF68;
@define-color error_color #F7768E;
@define-color selection_background_color #414868;
@define-color secondary_accent_color #7AA2F7;

@define-color cpu_color @foreground_color;
@define-color memory_color @foreground_color;
@define-color disk_color @foreground_color;
@define-color network_color @foreground_color;
@define-color group_background_color rgba(10, 10, 10, 0.9);
