/* tokyo-night Waybar colors */

@define-color accent_color #7DCFFF;
@define-color background_color #1A1B26;
@define-color disabled_color #565F89;
@define-color entry_background_color rgba(26,27,38,0.8);
@define-color error_color #F7768E;
@define-color foreground_color #CFC9C2;
@define-color icon_background_color #414868;
@define-color quaternary_accent_color rgba(205,214,244,1.0);
@define-color quinary_accent_color #9ECE6A;
@define-color secondary_accent_color #7AA2F7;
@define-color secondary_background_color rgba(26,27,38,1.0);
@define-color tertiary_accent_color rgba(68, 157, 171, 1.0);
@define-color warning_color #E0AF68;
