@import url("file:///$HOME/.config/hypr/themes/hypr-default/style.css");

@define-color window_bg_color alpha(#351409, 0.95);
@define-color accent_bg_color #d0902f;
@define-color theme_fg_color #fff69f;
