@define-color base #351409;
@define-color text #fff69f;
@define-color border #d0902f;
@define-color selected-text #d0902f;
@define-color window_bg_color alpha(@base, 0.95);
@define-color accent_bg_color @selected-text;

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @window_bg_.color;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid darker(@accent_bg_color);
}
