@define-color theme_background_color #351409;
@define-color theme_foreground_color #fff69f;
@define-color theme_accent_color #d0902f;
@define-color warning_color #fdd870;
@define-color error_color #a15501;
@define-color wm_icon_bg #a15501;

@define-color theme_secondary_accent_color #a15501;
