/* Theme Colors */
@define-color background_color #351409;
@define-color foreground_color #FFF69F;
@define-color accent_color #D0902F;
@define-color warning_color #FDD870;
@define-color error_color #A15501;
@define-color selection_background_color #A15501;
@define-color secondary_accent_color #A15501;
