/* Theme Colors */
@define-color background_color #0A1414;
@define-color foreground_color #00FFFF;
@define-color accent_color #00E5E5;
@define-color warning_color #ADFF2F;
@define-color error_color #FF4081;
@define-color selection_background_color #5F9EA0;
@define-color secondary_accent_color #00BFFF;

@define-color cpu_color @foreground_color;
@define-color memory_color @foreground_color;
@define-color disk_color @foreground_color;
@define-color network_color @foreground_color;
@define-color group_background_color rgba(10, 10, 10, 0.9);
