/* cyan Waybar colors */

@define-color accent_color #00E5E5;
@define-color background_color #0A1414;
@define-color entry_background_color rgba(10,20,20,0.8);
@define-color error_color #FF4081;
@define-color foreground_color #00FFFF;
@define-color icon_background_color #5F9EA0;
@define-color quaternary_accent_color rgba(0,229,229,1.0);
@define-color quinary_accent_color #2E8B57;
@define-color secondary_accent_color #00BFFF;
@define-color secondary_background_color rgba(10,20,20,1.0);
@define-color selection_background_color #1A2828;
@define-color senary_accent_color #9400D3;
@define-color tertiary_accent_color rgba(0,255,255,1.0);
@define-color warning_color #ADFF2F;
