[Desktop Entry]
Version=1.0
Name=Akamai Control Center
Comment=Akamai
Exec=hypr-launch-webapp https://control.akamai.com/
Terminal=false
Type=Application
Icon=/HOME_PLACEHOLDER/.local/share/applications/icons/Akamai.png
StartupNotify=true
