[Desktop Entry]
Version=1.0
Name=Bamboo
Comment=Bamboo
Exec=hypr-launch-webapp https://bamboo.nm.cbc.ca
Terminal=false
Type=Application
Icon=Bamboo
StartupNotify=true
