[Desktop Entry]
Version=1.0
Name=CBC News
Comment=CBC News
Exec=alacritty --class TUI.tile -e cbcnews.py
Terminal=false
Type=Application
Icon=/HOME_PLACEHOLDER/.local/share/applications/icons/CBC News.png
StartupNotify=true
