[Desktop Entry]
Version=1.0
Name=Jira
Comment=Jira
Exec=hypr-launch-webapp https://cbc-digital.atlassian.net/jira/dashboards/10092
Terminal=false
Type=Application
Icon=Jira
StartupNotify=true
