[Desktop Entry]
Version=1.0
Name=Jira
Comment=Jira
Exec=hypr-launch-webapp https://cbc-digital.atlassian.net/jira/dashboards/10092
Terminal=false
Type=Application
Icon=/home/mclellac/.local/share/applications/icons/Jira.png
StartupNotify=true
