/* Theme Colors */
@define-color background_color #2A2A2A;
@define-color foreground_color #F0F0F0;
@define-color accent_color #A2D9CE;
@define-color warning_color #F9E79F;
@define-color error_color #F5B7B1;
@define-color selection_background_color #AAAAAA;
@define-color secondary_accent_color #A9CCE3;

@define-color cpu_color @foreground_color;
@define-color memory_color @foreground_color;
@define-color disk_color @foreground_color;
@define-color network_color @foreground_color;
@define-color group_background_color rgba(10, 10, 10, 0.9);
