/* Theme Colors */
@define-color background_color #282828;
@define-color foreground_color #EBDBB2;
@define-color accent_color #FABD2F;
@define-color warning_color #D8A657;
@define-color error_color #EA6962;
@define-color selection_background_color #655B53;
@define-color secondary_accent_color #7DAEA3;
