/* Theme Colors */
@define-color background_color #24273A;
@define-color foreground_color #C6D0F5;
@define-color accent_color #8CAAEE;
@define-color warning_color #F9E2AF;
@define-color error_color #F38BA8;
@define-color selection_background_color #585B70;
@define-color secondary_accent_color #89B4FA;

@define-color cpu_color @foreground_color;
@define-color memory_color @foreground_color;
@define-color disk_color @foreground_color;
@define-color network_color @foreground_color;
@define-color group_background_color rgba(10, 10, 10, 0.9);
