/* Theme Colors */
@define-color background_color #24273A;
@define-color foreground_color #C6D0F5;
@define-color accent_color #8CAAEE;
@define-color warning_color #F9E2AF;
@define-color error_color #F38BA8;
@define-color selection_background_color #585B70;
@define-color secondary_accent_color #89B4FA;
