@define-color theme_background_color #1A202C;
@define-color theme_foreground_color #E2E8F0;
@define-color theme_accent_color #00eacb;
@define-color warning_color #F6AD55;
@define-color error_color #F56565;
@define-color wm_icon_bg #4A5568;

@define-color theme_secondary_accent_color #63b3ed;
