/* green-monster Waybar colors */

@define-color accent_color #00eacb;
@define-color background_color #1A202C;
@define-color border_color #2D3748;
@define-color disabled_color #4A5568;
@define-color entry_background_color rgba(45, 55, 72, 0.8);
@define-color error_color #d80c0cff;
@define-color extra_color_10 #7ab9a9;
@define-color extra_color_11 #f72121ff;
@define-color extra_color_12 #3edfd2ff;
@define-color extra_color_13 #83D3FF;
@define-color extra_color_14 #4FD1C5;
@define-color extra_color_2 #1ef1c3ff;
@define-color extra_color_4 #6FE1E5;
@define-color extra_color_5 #FFCD75;
@define-color extra_color_6 #F7FAFC;
@define-color extra_color_7 #f41616ff;
@define-color extra_color_8 #68DB98;
@define-color extra_color_9 #6A7588;
@define-color foreground_color #E2E8F0;
@define-color icon_background_color #4A5568;
@define-color info_color #63dbedff;
@define-color quaternary_accent_color #38a17cff;
@define-color quinary_accent_color #4299E1;
@define-color secondary_accent_color #23caa6ff;
@define-color secondary_background_color #30494cff;
@define-color secondary_foreground_color rgba(226, 232, 240, 1.0);
@define-color selection_background_color #2C5282;
@define-color senary_accent_color rgba(99, 179, 237, 1.0);
@define-color success_color #58e0bcff;
@define-color tertiary_accent_color #00b362;
@define-color warning_color #f1ad00ff;
