/* Theme Colors */
@define-color background_color #1A202C;
@define-color foreground_color #E2E8F0;
@define-color accent_color #00EACB;
@define-color warning_color #F6AD55;
@define-color error_color #F56565;
@define-color selection_background_color #4A5568;
@define-color secondary_accent_color #63B3ED;

@define-color cpu_color @foreground_color;
@define-color memory_color @foreground_color;
@define-color disk_color @foreground_color;
@define-color network_color @foreground_color;
@define-color group_background_color rgba(10, 10, 10, 0.9);
