/* Theme Colors */
@define-color background_color #EFF1F5;
@define-color foreground_color #4C4F69;
@define-color accent_color #1E66F5;
@define-color warning_color #DF8E1D;
@define-color error_color #D20F39;
@define-color selection_background_color #9CA0B0;
@define-color secondary_accent_color #40A02B;
