[Unit]
Description=hypr Battery Monitor Check
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/hypr/bin/hypr-battery-monitor
Environment=DISPLAY=:0