/* Theme Colors */
@define-color background_color #2C2525;
@define-color foreground_color #E6D9DB;
@define-color accent_color #FABD2F;
@define-color warning_color #F9CC6C;
@define-color error_color #FD6883;
@define-color selection_background_color #403E41;
@define-color secondary_accent_color #F38D70;
