/* Theme Colors */
@define-color background_color #2C2525;
@define-color foreground_color #E6D9DB;
@define-color accent_color #FABD2F;
@define-color warning_color #F9CC6C;
@define-color error_color #FD6883;
@define-color selection_background_color #403E41;
@define-color secondary_accent_color #F38D70;

@define-color cpu_color #FD6883;
@define-color memory_color #A8A9EB;
@define-color disk_color #F38D70;
@define-color network_color #ADDA78;
@define-color group_background_color rgba(10, 10, 10, 0.9);
