@define-color base #16181a;
@define-color text #ffffff;
@define-color border #f1ff5e;
@define-color selected-text #5ef1ff;

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @window_bg_color;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid darker(@accent_bg_color);
}
