/* Theme Colors */
@define-color background_color #16181a;
@define-color foreground_color #ffffff;
@define-color accent_color #f1ff5e;
@define-color warning_color #f1ff5e;
@define-color error_color #ff6e5e;
@define-color selection_background_color #3c4048;
@define-color secondary_accent_color #5ef1ff;

@define-color cpu_color @foreground_color;
@define-color memory_color @foreground_color;
@define-color disk_color @foreground_color;
@define-color network_color @foreground_color;
@define-color group_background_color rgba(10, 10, 10, 0.9);
