@import "../hypr/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 42px;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 18px;
}

.modules-left {
  margin-left: 18px;
}

.modules-right {
  margin-right: 18px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-hypr,
#custom-update,
#custom-weather {
  min-width: 12px;
  margin: 0 18px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
  margin-right: 30px;
}

.hidden {
  opacity: 0;
}
