/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */
@import url("../hypr/current/theme/waybar.css");

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @wm_icon_bg;
    }

    to {
        color: @wm_icon_bg;
        background-color: @warning_color;
    }
}

@keyframes blink-critical {
    70% {
        color: @wm_icon_bg;
    }

    to {
        color: @wm_icon_bg;
        background-color: @error_color;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 2;
    font-family: "Adwaita Mono", "JetBrainsMono NF", "Roboto Mono", sans-serif;
}

/* The whole bar */
window#waybar {
    background: @theme_background_color;
    color: @theme_foreground_color;
    font-size: 14px;
}

/* Left and Center modules */
#custom-hypr,
#custom-help,
#submap,
#window,
#mpris {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

/* Right modules */
#custom-pacman,
#custom-clipboard,
#bluetooth,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#temperature,
#backlight,
#custom-playerctl,
#privacy,
#custom-power {
    color: @theme_foreground_color;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

#custom-update {
    color: @warning_color;
    border-radius: 0;
    margin-left: 0px;
    margin-right: 0px;
}
#tray {
    padding-left: 8px;
    padding-right: 8px;
}

/* -----------------------------------------------------------------------------
 * Group styles
 * -------------------------------------------------------------------------- */

#hardware,
#application,
#media {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
}

#hardware > *,
#application > *,
#media > * {
    margin: 0;
    padding: 0 5px;
    background: transparent;
}

/* Date and Time Group */
#datetime {
    margin-left: 5px;
    margin-right: 5px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-hyper,
#workspaces button.active {
    color: @theme_accent_color;
    background-color: @theme_background_color;
}

#clock {
    color: @theme_background_color;
    background-color: @theme_accent_color;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 0 0 10px;
}

#custom-weather {
    color: @theme_background_color;
    background-color: @theme_secondary_accent_color;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 10px 10px 0;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @warning_color;
}

#battery.critical {
    color: @error_color;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: @warning_color;
}

#cpu.critical {
    color: @error_color;
}

#custom-hypr {
    padding-left: 8px;
    padding-right: 13px;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @warning_color;
}

#memory.critical {
    color: @error_color;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#submap {
    background: @theme_background_color;
}

#network.disconnected {
    color: @warning_color;
}

#pulseaudio.muted {
    color: @warning_color;
}

#temperature.critical {
    color: @error_color;
}

#workspaces button {
    /* border-top: 2px solid transparent; */
    /* To compensate for the top border and still have vertical centering */
    margin-right: 5px;
    color: @theme_foreground_color;
}

#workspaces button.active {
    color: @theme_accent_color;
}

#workspaces button.focused {
    border-color: @theme_accent_color;
}

#workspaces button.urgent {
    border-color: @error_color;
    color: @error_color;
}

#workspaces button:hover {
    color: @theme_accent_color;
}

#bluetooth.disabled {
    color: @warning_color;
}

#privacy {
    color: @theme_accent_color;
}

#idle_inhibitor.activated {
    background-color: @theme_accent_color;
    color: @theme_background_color;
}

tooltip {
  border-radius: 12px;
  padding: 3px;
  margin: 3px;
  border: 2px solid @theme_accent_color;
  background-color: @theme_background_color;
}

tooltip label {
  padding: 10px;
  margin: 10px;
  color: @theme_foreground_color;
}
