@import "../hypr/current/theme/waybar.css";

window#waybar {
    background-color: @background;
    color: @foreground;
}

* {
  border: none;
  border-radius: 0;
  min-height: 42px;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 18px;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 16px;
}

.workspaces {
  color: @workspaces-foreground;
}

.workspaces button {
  all: initial;
  padding: 0 8px;
  margin: 0 4px;
  min-width: 10px;
}

.workspaces button.empty {
  opacity: 0.5;
}

.hypr,
.update,
.weather,
.cpu,
.clock,
.network,
.battery,
.bluetooth,
.pulseaudio,
.tray-expander {
  min-width: 12px;
  margin: 0 12px;
}

.hypr {
  color: @hypr-foreground;
}

.update {
  color: @update-foreground;
  font-size: 10px;
}

.weather {
  color: @weather-foreground;
  margin-left: 10px;
}

.cpu {
  color: @cpu-foreground;
}

.clock {
  color: @clock-foreground;
  margin-right: 20px; /* Add significant spacing to the right of the clock */
}

.network {
  color: @network-foreground;
}

.battery {
  color: @battery-foreground;
}

.bluetooth {
  color: @bluetooth-foreground;
}

.pulseaudio {
  color: @pulseaudio-foreground;
}

.tray-expander {
  color: @tray-expander-foreground;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
  background-color: @background;
  color: @foreground;
}

.hidden {
  opacity: 0;
}
