/* Theme Colors */
@define-color background_color #1F1F28;
@define-color foreground_color #DCD7BA;
@define-color accent_color #DCA561;
@define-color warning_color #C0A36E;
@define-color error_color #C34043;
@define-color selection_background_color #727169;
@define-color secondary_accent_color #7E9CD8;

@define-color cpu_color @foreground_color;
@define-color memory_color @foreground_color;
@define-color disk_color @foreground_color;
@define-color network_color @foreground_color;
@define-color group_background_color rgba(10, 10, 10, 0.9);
