/* Theme Colors */
@define-color background_color #263238;
@define-color foreground_color #B0BEC5;
@define-color accent_color #009688;
@define-color warning_color #FFCB6B;
@define-color error_color #F07178;
@define-color selection_background_color #37474F;
@define-color secondary_accent_color #82AAFF;

@define-color cpu_color @foreground_color;
@define-color memory_color @foreground_color;
@define-color disk_color @foreground_color;
@define-color network_color @foreground_color;
@define-color group_background_color rgba(10, 10, 10, 0.9);
