@define-color theme_background_color #263238;
@define-color theme_foreground_color #B0BEC5;
@define-color theme_accent_color #009688;
@define-color warning_color #ffcb6b;
@define-color error_color #f07178;
@define-color wm_icon_bg #37474F;
