@import url("file:///$HOME/.config/hypr/themes/hypr-default/style.css");

@define-color window_bg_color alpha(#112330, 0.95);
@define-color accent_bg_color #00e5ff;
@define-color theme_fg_color #cdd6f4;
