@define-color background #1A202C;
@define-color foreground #E2E8F0;
@define-color border-color #63edcd;
@define-color accent #0ec073;

window {
    background-color: @background;
    border: 2px solid @border-color;
    border-radius: 10px;
    padding: 10px;
}

#image {
    margin: 10px;
}

#label {
    color: @foreground;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

progress,
trough {
    min-height: 20px;
    border-radius: 10px;
    border: none;
    background: none;
}

progress {
    background-color: @accent;
}

trough {
    background-color: shade(@background, 0.8);
}
