@define-color base #161616;
@define-color text #e6e6e6;
@define-color border #4db6eb;
@define-color selected-text #161616;

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @base;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid @border;
}

#window {
  background: transparent;
}

#search {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid @border;
  color: @text;
  background: transparent;
}

#search.placeholder {
  color: alpha(@text, 0.5);
}

#entry {
  color: @text;
  padding: 10px;
  border-radius: 5px;
}

#entry:selected {
  background: #1f66c5;
  box-shadow: none;
  border-radius: 5px;
  color: @text;
}

#password {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid @border;
  color: @text;
  background: transparent;
}
