@define-color base #112330;
@define-color text #cdd6f4;
@define-color border #00e5ff;
@define-color selected-text #00e5ff;
@define-color window_bg_color alpha(@base, 0.95);
@define-color accent_bg_color @selected-text;
@define-color window_bg_color #112330;
@define-color foreground #cdd6f4;
@define-color background #112330;

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @base;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #00e5ff;
}

#window {
  background: transparent;
}

#search {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid @border;
  color: @text;
  background: transparent;
}

#search.placeholder {
  color: alpha(@text, 0.5);
}

#entry {
  color: @text;
  padding: 10px;
  border-radius: 5px;
}

#entry:selected {
  background: rgba(0, 229, 255, 0.1);
  box-shadow: none;
  border-radius: 5px;
  color: @selected-text;
}

#password {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid @border;
  color: @text;
  background: transparent;
}
