#search {
  border-radius: 12px;
  background-color: #08433b;
  color: #E2E8F0;
  border-color: #63edcd;
}

#search.placeholder {
  color: #4A5568;
}

#box {
  background-color: #08433b;
}

#entry {
  color: #E2E8F0;
}

#entry:selected {
  background-color: #08433b;
}

#entry.activation {
  background-color: #08433b;
}

#password {
  border-radius: 12px;
  background-color: #08433b;
  color: #E2E8F0;
  border-color: #63edcd;
}
