@define-color base #012e21;
@define-color text #e2e8f0;
@define-color border #63ed91;
@define-color selected-text #00ffb7;

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @base;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #04c755;
}

#window {
  background: transparent;
}

#search {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid @border;
  color: @text;
  background: transparent;
}

#search.placeholder {
  color: alpha(@text, 0.5);
}

#entry {
  color: @text;
  padding: 10px;
  border-radius: 5px;
}

#entry:selected {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: none;
  border-radius: 5px;
  color: @selected-text;
}

#password {
  border-radius: 0;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid @border;
  color: @text;
  background: transparent;
}
