@define-color theme_background_color #04070a;
@define-color theme_foreground_color #e2e8f0;
@define-color theme_accent_color #00f2ff;
@define-color warning_color #ffcc00;
@define-color error_color #ff4545;
@define-color wm_icon_bg #505c68;

@define-color theme_secondary_accent_color #3399ff;
