/* Theme Colors */
@define-color background_color #00272d;
@define-color foreground_color #e2e8f0;
@define-color accent_color #04c755;
@define-color warning_color #ffaa00;
@define-color error_color #fa7373;
@define-color selection_background_color #505c68;
@define-color secondary_accent_color #40c89d;

@define-color cpu_color @foreground_color;
@define-color memory_color @foreground_color;
@define-color disk_color @foreground_color;
@define-color network_color @foreground_color;
@define-color group_background_color rgba(10, 10, 10, 0.9);
