/* Theme Colors */
@define-color background_color #121212;
@define-color foreground_color #EAEAEA;
@define-color accent_color #B91C1C;
@define-color warning_color #FFC107;
@define-color error_color #D35F5F;
@define-color selection_background_color #333333;
@define-color secondary_accent_color #D35F5F;

@define-color cpu_color @foreground_color;
@define-color memory_color @foreground_color;
@define-color disk_color @foreground_color;
@define-color network_color @foreground_color;
@define-color group_background_color rgba(10, 10, 10, 0.9);
