/* nord Waybar colors */

@define-color accent_color #88C0D0;
@define-color background_color #2E3440;
@define-color entry_background_color rgba(46,52,64,0.8);
@define-color error_color #BF616A;
@define-color foreground_color #D8DEE9;
@define-color icon_background_color #4C566A;
@define-color quaternary_accent_color rgba(136, 192, 208, 1.0);
@define-color quinary_accent_color #8FBCBB;
@define-color secondary_accent_color #81A1C1;
@define-color secondary_background_color rgba(46,52,64,1.0);
@define-color selection_foreground_color #ECEFF4;
@define-color senary_accent_color rgba(216,222,233,1.0);
@define-color tertiary_accent_color #5E81AC;
@define-color warning_color #EBCB8B;
