/* everforest Waybar colors */

@define-color accent_color #DBBC7F;
@define-color background_color #2D353B;
@define-color entry_background_color rgba(45,53,59,0.8);
@define-color error_color #E67E80;
@define-color extra_color_2 #E69875;
@define-color foreground_color #D3C6AA;
@define-color icon_background_color #475258;
@define-color quaternary_accent_color rgba(211,198,170,1.0);
@define-color quinary_accent_color #F85552;
@define-color secondary_accent_color #7FBBB3;
@define-color secondary_background_color rgba(45,53,59,1.0);
@define-color selection_background_color #3D484D;
@define-color senary_accent_color #83C092;
@define-color success_color #A7C080;
@define-color tertiary_accent_color rgba(131, 192, 146, 1.0);
