/* Theme Colors */
@define-color background_color #2D353B;
@define-color foreground_color #D3C6AA;
@define-color accent_color #DBBC7F;
@define-color warning_color #DBBC7F;
@define-color error_color #E67E80;
@define-color selection_background_color #475258;
@define-color secondary_accent_color #7FBBB3;

@define-color cpu_color @foreground_color;
@define-color memory_color @foreground_color;
@define-color disk_color @foreground_color;
@define-color network_color @foreground_color;
@define-color group_background_color rgba(10, 10, 10, 0.9);
